## Python

### Print :

In [1]:
print("sum")

sum

In [2]:
# gives output of the program 
a=10
b=12
a+b

22

In [4]:
# print the output of the program 
sum = a+b 
print(sum)

22

### Variables : 

variables are used to store data
variables does not start with (symbol and numbers)
in above program a,b,sum are the example of variables

### Data type in python : in python we don't need to define  data type with variables 
##### Numeric data types: 
int, float, complex
##### String data types:
str
##### Sequence types
: list, tuple, range
##### Binary types:
bytes, bytearray, memoryview
##### Mapping data type:
dict
##### Boolean type: 
bool
##### Set data types:
set, frozenset

#### type() : type function is used to check the data type of the variable or data

In [11]:
print(type(23))
a="hello"
print(type(a))

<class 'int'>
<class 'str'>

### how variables are store in python and other languages (java & C++) :
#### In java if we assign
int a = 12
###### this means a is assigned with specific store space which is 4 bytes in this case  if you need to change the value of a it should be integer value (int)  always
#### but in python 
###### you can assign any type of value to the variable a . there is no fixed storage in python if you change the assigned value for example
a = 10 
a = 20
##### a first have the address stroage of where 10 is stored after assigning a=20 variable a store the address of storage  where 20 is present 
#### id () :
id function is used to check the address where data (value) is present 
###### # if two or more variable having same value then they both were store same address but only for the values between -5 to 256

In [15]:

a = 256
b = 256
print(id(a))
print(id(b))

2741345117808
2741345119600

In [16]:
a = 266 
b = 266 
print(id(a))
print(id(b))

2741345118544
2741345117392

### Arithmetic operator :

In [2]:
a = 10
b = 2
print(a+b) # add  
print(a-b) # subtract
print(a*b) # multipilication 
print(a/b) # float division 
print(a//b)# integer division
print(a%b) # remainder
print(a**b)# exponiential

12
8
20
5.0
5
0
100

#### simple interest

In [9]:
p = 1200
r = 2 
t= 2 
si = (p*r*t)/100
si

48.0

 #### Fahrenheit to celsius

In [10]:
f=100
c = (f-32)*5/9
c

37.77777777777778

### input() :
#####  input() is used to take input from the user but it take input as string 
#####  for converting string into integer use int(input())
#####  for converting string into float use float(input()) and so on

In [12]:
input()

23

'23'

In [14]:
c=input()
print(c)
type(c)

34
34

str

In [18]:
c= int(input())
print(type(c))
c= float(input())
print(type(c))

45
<class 'int'>
67.8
<class 'float'>

### simple interest by taking input from the user

In [19]:
p = int(input())
r = int(input())
t = int(input())
si = (p*r*t)/100
print(si)

1200
12
2
288.0

### Write a program to input marks of three tests of a student (all integers). Then calculate and print the average of all test marks .

In [21]:
test1 = int(input())
test2 = int(input())
test3 = int(input())
Average = (test1+test2+test3)/3
print(Average)

23
24
25
24.0