## List
#### list is mutable and you can store any type of element inside list (like int , bool , float , list ,string and etc)

In [5]:
a = list([1,2,3])
a

[1, 2, 3]

In [7]:
a = [1,"asd",22.3,True,[1,2,3]]
a

[1, 'asd', 22.3, True, [1, 2, 3]]

In [15]:
# access element of list using index
print(a[3])
print(a[2:4])
print(a[:3])

True
[22.3, True]
[1, 'asd', 22.3]

In [19]:
# create a list using for loop
a = [0 for i in range(10)]
a

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [21]:
a = [i for i in range(1,11)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
len(a)

10

In [23]:
a = [1,3,4,5,5]
b = [5,4,3,5,3,9,8]
a+b

[1, 3, 4, 5, 5, 5, 4, 3, 5, 3, 9, 8]

In [26]:
a*3 # a*n create new list and copy element n no. of time

[1, 3, 4, 5, 5, 1, 3, 4, 5, 5, 1, 3, 4, 5, 5]

#### Add data in list

In [38]:
# add element at last of the list
print(a)
a.append(7)
a

[1, 3, 4, 5]

[1, 3, 4, 5, 7]

In [39]:
# add element at perticular index
a.insert(4,9)
a

[1, 3, 4, 5, 9, 7]

In [40]:
# extend list 
a.extend(b)
a

[1, 3, 4, 5, 9, 7, 5, 4, 3, 5, 3, 9, 8]

In [34]:
# remove first occurance of element
a.remove(7)
a

[1, 3, 4, 5, 5]

In [36]:
# remove element form index and print the removed element
a.pop(3)

5

In [41]:
del a[4]

In [42]:
a

[1, 3, 4, 5, 7, 5, 4, 3, 5, 3, 9, 8]

### For sorting a list  we use sort () function
#### but for sorting list should be homogenous

In [44]:
a.sort()
a

[1, 3, 3, 3, 4, 4, 5, 5, 5, 7, 8, 9]

#### for maximum and minimum list should be homogenous

In [49]:
max(a)

9

In [50]:
min(a)

1

In [52]:
# find index of the element
a.index(5)

6

### input and output in list

In [66]:
# input 
s = int(input())
a = []
for i in range(s):
    e = int(input())
    a.append(e)

3
2
5
7

In [67]:
a

[2, 5, 7]

In [71]:
# output 
for i in a:
    print(i)

2
5
7

In [82]:
# input in string and convert to list
s = input()
l = s.split()
b = []
for i in l:
    b.append(i)

1 2 3 4 5

In [83]:
b

['1', '2', '3', '4', '5']

In [84]:
a = [s for s in input().split()]
a

1 2 3 4 5

['1', '2', '3', '4', '5']

#### Difference of even and odd element  in list

In [85]:
l = [int(s)  for s in input().split()]
even = 0 
odd = 0
for i in l:
    if i%2 == 0:
        even += i
    else :
        odd += i

1 2 3 4 5 6 7

In [86]:
even - odd

-4

In [92]:
l = [int(s)  for s in input().split()]
print(l)
for i in range(0,len(l),2):
    temp = l[i]
    l[i] = l[i+1]
    l[i+1] = temp
    
l

1 2 3 4
[1, 2, 3, 4]

[2, 1, 4, 3]

### slicing

In [93]:
a[2:4]

['3', '4']

In [97]:
a[3::-1]

['4', '3', '2', '1']

In [95]:
a[:2:-1]

['5', '4']

In [98]:
a[::-1]

['5', '4', '3', '2', '1']

In [99]:
len(a)

5

In [103]:
print(a)
a.reverse()
a

['5', '4', '3', '2', '1']

['1', '2', '3', '4', '5']

### Multidimensional List : list inside list

In [115]:
# example of list
a = [[1,2,3,4],[1.2,6,7]]
a

[[1, 2, 3, 4], [1.2, 6, 7]]

In [116]:
a[0][3]

4

In [117]:
len(a)

2

In [118]:
len(a[0])

4

#### input multi dimension list

In [119]:
s = input().split()
m = int(s[0])
l =[]
for i in range(m):
    n = [int(i) for i in input().split()]
    l.append(n)

2
1 2 3 4
1 2 3 4 5

In [120]:
l

[[1, 2, 3, 4], [1, 2, 3, 4, 5]]

In [129]:
s = input().split()
m = int(s[0])
g = int(s[1])
l =[]
for i in range(m):
    n = []
    for j in range(g):
        e = int(input())
        n.append(e)
    l.append(n)

2 3
1
2
3
4
5
6

In [130]:
print(l)

[[1, 2, 3], [4, 5, 6]]

In [131]:
a = [[j for j in range(4)] for i in range(8) ]

In [132]:
a

[[0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3],
 [0, 1, 2, 3]]

In [133]:
a = [[i for j in range(4)] for i in range(8) ]

In [134]:
a

[[0, 0, 0, 0],
 [1, 1, 1, 1],
 [2, 2, 2, 2],
 [3, 3, 3, 3],
 [4, 4, 4, 4],
 [5, 5, 5, 5],
 [6, 6, 6, 6],
 [7, 7, 7, 7]]

#### sum of columns in list

In [138]:
def sum_column(a):
    m = len(a)
    if m == 0:
        return 
    n = len(a[0])
    for j in range(n):
        sum_j = 0
        for i in range(m):
            sum_j += a[i][j]
        print(sum_j)

In [139]:
a = [[i for j in range(4)] for i in range(8) ]
sum_column(a)

28
28
28
28

In [140]:
a = [[j for j in range(4)] for i in range(8) ]
sum_column(a)

0
8
16
24

#### sum of rows in list

In [1]:
def sum_row(a):
    m = len(a)
    if m == 0:
        return 
    n = len(a[0])
    for i in range(m):
        sum_j = 0
        for j in range(n):
            sum_j += a[i][j]
        print(sum_j)

In [4]:
a = [[j for j in range(4)] for i in range(8) ]
sum_row(a)

6
6
6
6
6
6
6
6